.cart-section{
display: grid;
grid-template-columns: 800px 300px;
grid-gap: 5vw;
width: min-content;
position: relative;
left: 50%;
margin-top: 10vh;
transform: translate(-50%);
}

.cart-items{
    border: 1px solid black;
}

.cart-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw;
}


.cart-content{
    height: 50vh;
    border: 1px solid black;
    margin: 5vh 2vw 3vh 2vw;
}

.place-order{
    border: 1px solid black;
    padding: 4vh 1vw 0 1vw;
}

.mrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3vh 0 1vh 0 ;
    
}

.delivery-charge{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2vh 0 ;
}

.delivery-charge p5{
 color: green;
}

ul{
    border: 0.5px solid black;
}

.total-amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-buttons{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-buttons button{
    padding: 10px;
    background-color: white;

}

.cart-buttons button:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
}


/* **************** Show Cart **************** */


.cartShow-card{
    margin: 1vw;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    /* width: 90%; */
}

.cart-item-image{
    width: 30%;
}


.cart-item-image img{
    width: 50%;
    margin: 1vw;
}

.cart-item-details{
    width: 50%;
}

.cart-item-details h3 {
    width: 30%;
}

.increment-dec-quantity{
    margin-top: 5.5vh;
    text-align: center;
}

.increment-dec-quantity input{
    width: 10%;
    border: white;
}

.increment-dec-quantity i{
    margin: 0.5vw;
}

.increment-dec-quantity i:hover{
    color: orange;
}

.price{
    margin-top: 3.5vh;
    width: 20%;
}

.remove-item{
    margin-top: 5.5vh;
    width: 10%;
}

.remove-item i:hover{
    color: orange;
}
