.categoty{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.category-title{
    text-align: center;
}

.all-category-div {
    text-align: center;
    
}



.all-category{
    
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    grid-gap: 10px;
    width: min-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.all-category-div img:hover{
    filter: grayscale() blur(1.5px);
}

.all-category-div:hover .cat-button{
    opacity: 1;
}

.all-category img {
    border-radius: 10px;
    width: 100%;
}

.cat-button{
    position: absolute;
    top: 40%;
    opacity: 0;
    z-index: 700;
    transition: all 0.3s;
}

.cat-button button{
    padding: 20px;
    width: 70%;
    border: 2px solid black;
    color: black;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.cat-button button:hover{
    background: rgb(0, 0, 0);
    color: #fff;
    border: 2px solid black;
}

.all-category h4{
    position: relative;
    bottom: initial;
    margin-top: 5vh;
}