.all-products{
    display: grid;
    grid-template-columns: 200px 200px 200px  ;
    grid-template-rows: 2fs ;
    grid-gap: 5rem;
    transform: translate(-50%);
    width: min-content;
    position: relative;
    left: 50%;
    /* border: 1px solid black;  */
    margin-bottom: 10rem;
}

.filter{
    position: absolute;
    top: 10vh;
    left: 1vw;
    width: 20%;
    height: 200%;
}