@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.nav-bar{
    height: 6vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar div{
    margin-top:1vh;
}

.nav-name{
    margin-left: 1vw;
    height: min-content;
    font-weight: bold;
   border: 1px solid white;
}

.first-name{
 background-color: rgb(40, 40, 227);
 color: white;
 margin-right: 4px;
 padding: inherit ;
 font-family: 'Montserrat', sans-serif;
}

.last-name{
   color: white; 
}

.nav-links{
    display: flex;
    flex-direction: row;
}

.nav-links a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.cart{
    font-size: 35px;
    margin-right: 40px;
    margin-top: -5px !important;
}

.cart p{
    position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  right: 3.5rem;
  top: -0.8rem;
  border-radius: 50%;
  background: #99cbf7;
  color: #fff;
  box-sizing: border-box;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}